.containers {
  background: #dff9fb;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-container {
  display: flex;
  flex-direction: row;
}

.bottom-right-container {
  width: 90%;
  margin-left: 5px;
}

.filter-container {
  width: 10%;
  height: 1245px;
}