.filter-container {
    background-color: #576574;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.form-container {
    background-color: #576574;
    display: flex;
    flex-direction: column;
    float: left;
}

label {
    color: white;
    font-size: 14px;
}