.top-container {
    background: #48dbfb;
    border-radius: 3px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    width: 100%
}

.username {
    float: right;
    width: 50%;
}

.name-application {
    float: left;
    width: 50%;
}